BasedOnStyle: Google

---
Language: Cpp
SpaceAfterCStyleCast: true
DerivePointerAlignment: false
PointerAlignment: Left
LambdaBodyIndentation: OuterScope
BreakTemplateDeclarationsStyle: Yes

IncludeBlocksStyle: Regroup