Language: Cpp
BasedOnStyle: Google

DerivePointerAlignment: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
LambdaBodyIndentation: OuterScope
AlwaysBreakTemplateDeclarations: Yes
IncludeBlocks: Regroup