BasedOnStyle: Google

---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
SpaceAfterCStyleCast: true
LambdaBodyIndentation: OuterScope
BreakTemplateDeclarationsStyle: Yes
IncludeBlocksStyle: Regroup