[submodule "submodules/spdlog"]
	path = submodules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "submodules/edlib"]
	path = submodules/edlib
	url = https://github.com/Martinsos/edlib
[submodule "submodules/gperftools"]
	path = submodules/gperftools
	url = https://github.com/gperftools/gperftools
